.navbar {
    padding: 2% 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.active {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-shadow: 5px 5px 10px #2b2b2c;
    color: white;
}

.nav-icon {
    opacity: 0;
}

.nav-link {
    transition: all 0.5s, color 0.3s;
    padding: 0;

    &:hover {
        translate: 0 -10px;
        color: white;

        .nav-name {
            opacity: 0;
        }

        .nav-icon {
            position: relative;
            left: 50%;
            opacity: 1;
            text-shadow: 10px 10px 10px grey;
            filter: drop-shadow(5px 5px 10px #0000ff);
        }
    }
}

.navbar {
    transition: all 0.4s;
}

@media only screen and (max-width:400px) {
    .navbar {
        justify-content: end;
        padding: 5% 10%;
        backdrop-filter: blur(10px);
    }

    .navbar-toggler {
        background-color: #76ABAE;
        margin-bottom: 10px;
        border: none;
    }

    .nav-link {
        color: black;
    }

    .nav-icon {
        display: none;
    }

    .active {
        text-decoration: none;
        text-decoration-thickness: none;
        text-underline-offset: none;
        text-shadow: none;
        color: white;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}