.navbar{
    padding: 1.5% 0;
    display:flex;
    justify-content: center;
}

.active {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-shadow: 5px 5px 10px #0000ff;
    color: white;
}

.nav-icon {
    opacity: 0;
}

.nav-link {
    transition: all 0.5s,color 0.3s;

    &:hover {
        padding: 1%;
        color: white;
        .nav-name {
            opacity: 0;
        }

        .nav-icon {
            position: relative;
            left: 50%;
            opacity: 1;
            text-shadow: 10px 10px 10px grey;
            filter: drop-shadow(5px 5px 10px #0000ff);
        }
    }
}

.navbar {
    transition: all 0.4s;
}