.whatsapp {
    display: flex;
    align-items: center;
    border: none;
    width: 35%;
    background-color: green;
    padding: 4% 8%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
        width: 100%;
    }
}

.messenger {
    display: flex;
    align-items: center;
    border: none;
    width: 35%;
    background-color: rgb(39, 126, 240);
    padding: 4% 8%;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    object-fit: contain;

    &:hover {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    
    .main {
        width: fit-content;
        height: 100%;
    }
    .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        /* height: 100%; */
        width: 100%;
    }
    
}