.footer-container {
    background-color: black;
    padding: 2.5% 5% 1% 5%;
    color: white;
}

.logo {
    height: 120px;
    width: 120px;
}

.icon {
    cursor: pointer;
    margin: 2% 3%;
    color: white;

    &:hover {
        color: rgb(255, 230, 0);
    }
}

.footer-contact>p {
    cursor: pointer;

    &:hover {
        color: rgb(255, 230, 0);
    }
}

@media only screen and (max-width:400px) {

}