*{
    scrollbar-width: none;
    font-family: "Poppins",sans-serif;
}

body{
    width: 100%;
}

h1{
    font-family: "Montserrat",sans-serif;
}

html {
    overflow-y: scroll; /* Ensures scrollbar is always present */
}